body {
    background: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a {
    color: skyblue
}

#controlPanel,#jsonPanel,#jsPanel{
    position: absolute;
    top: 0px;
    z-index: 100;
}
#controlPanel{
    left: 10px;
    top: 0px;
    width:300px;
}
#jsonPanel {
    width: 30%;
    right: 0px;
    top: 0px;
}
#jsPanel {
    margin:auto;
    width: 30vw;
    right:0px;
    top:50vh;
}

#jsonPanelTitle, #guiTitle,#jsPanelTitle {
    color:white;
    background-color: black;
    text-align: center;
    cursor:move;
    padding:5px;
    font-size: 12pt;
    background-color: #aa0000;
}
#jsonPanelContent,#jsPanelContent {
    text-align: left;
    background-color: white;
    height: 40vh;
    width: 100%;
    overflow: unset;
    border: 2px solid black;
}
.jsonview{
    white-space: pre;
}
#jsPanelNav li,#jsonPanelNav li{
    display: inline-block;
    list-style-type:none;
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
}
.isNavActive, #jsPanelNav li:hover, #jsonPanelNav li:hover{
    cursor: pointer;
    background-color: #aa0000;
    color: white;
}
#jsPanelNav ul, #jsonPanelNav ul{
    margin:0px;
    padding:0px;
}
#jsPanelCode, #jsonPanelCode{
    width: 100%;
    overflow: scroll;
    height: 85%;
    white-space: pre;
    word-wrap: unset;
}
pre, code {
    display: inline;
    white-space: pre;
    word-wrap: unset;
}
.hljs {
    overflow-x: visible;
    white-space: pre;
}

